@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --main-blue: #6495ed;
  --main-white: #faebd7;
  --active-link: #deb887;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--main-white);
  margin: 0;
}

h1,
h2 {
  font-family: "Lora";
  text-align: center;
}

ul {
  list-style: none;
  text-align: right;
  display: inline;
}

/* links */
a,
a:visited {
  color: var(--main-blue);
  text-decoration: none;
  text-decoration: center;
}

a:active {
  color: var(--active-link);
}

a:hover {
  text-decoration: underline;
}

/* nav links */
nav a {
  color: var(--main-white);
  text-align: right;
  

}

nav a:hover {
  color: white;
}

/* article title links */
article h2 a,
article h2 a:visited {
  color: black;
  text-align: center;
}

article h2 a:hover {
  color: var(--main-blue);
}

/* header */
header {
  background-color: var(--main-blue);
  text-align: right;
  text-align: center;
}

header h1 a {
  color: var(--main-white);
  text-align: center;
}

nav li {
  padding: 0.5rem;
}

/* main */
main {
  width: 90%;
  margin: 2rem auto;
}

/* article cards */
article {
  background-color: white;
  box-shadow: 4px 4px 2px #ccc;
  margin: 0 auto 2rem;
  text-align: center;
}

.post-date {
  color: black;
  margin: 1rem auto -1rem;
  text-align: left;
  font-size: medium;
  font-weight: bold;

  
}

.post-content {
  margin: 0 auto;
}

article figure {
  margin: 0 auto;
  text-align: center;
}

article img {
  width: 50%;
  margin: 0 auto;
}

/* smaller (screen)s */
@media (screen) and (max-width: 640px) {
  body div {
    display: block;
  }

  header {
    display: block;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
  }

  article {
    padding: 2rem;
  }
}

/* larger (screen)s */
@media (screen) and (min-width: 640px) {
  body div {
    display: grid;
    grid-template-columns: 14rem 1fr;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 10rem;
    padding: 2rem;
    text-align: center;
  }

  main {
    grid-column: 2;
    margin: 0 auto;
    padding: 1rem;
  }

  article {
    padding: 3rem;
    margin: 3rem;
  }

  article figure {
    margin: 3rem auto 0;
  }
}